* {
    /* border:solid;
    border-width: 2px; */
} 

html, body {
    background-color: rgb(40, 40, 40);
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight: 500;
    color:white;

}

.main { /*big window */
    height: 100%;
    width: 100%;

    display: grid;
    grid-template-columns: 70px 180px 1fr;
    grid-template-rows: 75% 25%;
    grid-template-areas:
        "icon menu main"
        "icon menu terminal";
}
.container { /*layout boxes*/
    border: solid;
    border-width: 1px;
    border-color: rgb(45, 45, 45);
    margin: 4px;
    margin: 0;
}

.container.c1 { /*menu*/
    background-color: rgb(25, 25, 25);
    grid-area: menu;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.container.c2 { /*main text area*/
    grid-area: main;
    padding: 30px;
}

.maintext, .maintext_about_me, .maintext_resume {
    width: 50vw;
}

.maintext_about_me, .maintext_resume {
    display: none;
}
.container.c3 { /*terminal*/
    background-color: rgb(25, 25, 25);
    grid-area: terminal;
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-template-rows: 75% 25%;
    grid-template-areas:
        "top blankt"
        "left right";
}

.terminal.menu{
    pointer-events: none;
    width:450px;
    height:40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:13px;
    color:rgb(131, 131, 131);
    margin-left:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    padding:5px;
    box-sizing: border-box;
}
.button#current {
    color: white;
    border-bottom:2px solid rgb(0, 105, 197);
}
.menu { /*individual files*/
    height: 25px;
    box-sizing: border-box;
    padding: 3px;
    margin-left:5px;
}

.container .menu:hover{
    background: rgb(71, 71, 71);
}

.container .menu.item1{ 
    font-weight:600;
    pointer-events:none;
    box-sizing:border-box;
    margin-top: 15px;
    margin-left:none;
}

p {
    line-height: 2;
}

.container.c4 { /*icons*/
   background-color: rgb(25, 25, 25);
   grid-area: icon; 
   display:flex;
   flex-direction: column;
}

.container.c4 .icon {
    height: 70px;
    margin: 0 0 5px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container.c4 .icon.frame1 {
    margin-top:10px;
}

.menu p {  /*file text*/
    font-size: 13px;
    font-family: Arial;
    line-height: 0.5;
    margin: auto;
    padding: 10px;
}

.variabletext {
    color: rgb(129, 207, 255);
}

.commenttext {
    color: rgb(4, 162, 78);
}
.stringtext {
    color: rgb(208, 127, 70);
}

.container.c3 .terminaltext { 
    padding: 0px;
    grid-area: left;
    display:flex;
    align-items: center;
}

.container.c3 .terminaltext p{
    margin-left: 20px;
    margin-bottom: 15px;
    margin-right:10px;
}
.container.c3 input {
    grid-area: right;
    background-color:  rgb(25,25,25);
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
    color:white;
    margin-bottom:1px;
    border:none;
}

input:focus{
    outline:none;
}

ul {
    line-height: 2;
}

#github {
    filter: invert(1);
    height:50px;

}

#linkedin {
    width: 65px;
    filter:grayscale(1) contrast(100) invert(1);
}