html, body {
    overflow-x: hidden;
}

.screen {
    background-color: aliceblue;
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
}

#building {
    height:1300px;
}

.right {
    position: absolute;
    left: 200px;
    top: 90%;
    transform: translateY(-50%);
}

.left {
    position: absolute;
    top:1000px;
    right:200px;
    transform: translateY(-50%)
}